@font-face {
  font-family: 'adelia';
  src: url('/fonts/adelia-webfont.woff2') format('woff2'),
    url('/fonts/adelia-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'antiga';
  src: url('/fonts/antiga-regular-webfont.woff2') format('woff2'),
    url('/fonts/antiga-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'diamond_ringhairline';
  src: url('/fonts/diamond-ring-hairline-webfont.woff2') format('woff2'),
    url('/fonts/diamond-ring-hairline-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica';
  src: url('/fonts/helvetica-webfont.woff2') format('woff2'),
    url('/fonts/helvetica-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'diamond_ringbold';
  src: url('/fonts/diamond-ring-bold-webfont.woff2') format('woff2'),
    url('/fonts/diamond-ring-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pragmatica-extraLight';
  src: url('/fonts/Pragmatica-ExtraLight.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: url(images/main-bg-1200.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right,
    rgba(250, 250, 250, 0.6),
    rgba(250, 250, 250, 0.6) /* rgba(160, 160, 160, 0.6) */
  );
  /* background-size: 400% 400%;
  animation: gradient 5s ease infinite; */
}

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.header {
  width: 100%;
  text-align: center;
  margin-top: 10rem;
}

h1 {
  font-family: 'antiga', sans-serif;
  font-size: 12rem;
  font-weight: 200;
  margin: 0 2rem;
}

h2 {
  font-family: 'diamond_ringbold', sans-serif;
  font-size: 5rem;
  font-weight: 200;
  margin: 0 2rem;
}

.established {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-family: 'pragmatica-extraLight', sans-serif;
  font-size: 3rem;
  font-weight: 100;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 4rem;
}

.left-estd {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  padding: 1rem;
}

.right-estd {
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  padding: 1rem;
}

.images {
  height: 20rem;
  margin: auto 0;
  filter: contrast(1);
}

.coming-soon {
  width: 100vw;
  text-align: center;
  font-family: 'adelia', sans-serif;
  font-size: 5rem;
  margin: 0 2rem 10rem;
  /* padding-bottom: 10rem; */
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 9rem;
  }

  h2 {
    font-size: 4rem;
  }

  .coming-soon {
    font-size: 3rem;
  }

  .established {
    font-size: 1.7rem;
  }
}
